*
{
    margin: 0;
    padding: 0;

}

.logoFrame {
    position: fixed;
}

a {
text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 1200px;
    min-height: 100vh;
    background: rgb(255, 115, 63);
   overflow-x: hidden;
    margin: -150px;
    transform-origin: center;
    overflow-x: scroll;
    margin-left: 50px;
    padding-left: 0px;
    border-left: 0px;
}

    .glowing {
    animation: colorChange 5s linear infinite;
}

.logoFrame {
 
    width:unset;
    position: fixed;
    font-family: 'Concert One', cursive;
    color: rgba(255, 255, 255, 0.8);
    animation: gravityLogo 3s linear infinite;
    margin-left: 50px;

}

a:active {
    color: rgba(255, 255, 255, 0.8);
}
a:visited {
    color: rgba(209, 209, 209, 0.8);
}

a:hover {
    color: rgba(255, 255, 255, 1);

    
}

a:link {
    color: rgba(255, 255, 255, 1);
}
.sneaker
{

    transform: translate(0, 100px);
    position: fixed;
    font-family: 'Concert One', cursive;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 50px;
    border-top: 200px;
    padding-bottom: 400px;
    padding-left: 50px;
    padding-right: 50px;
    border-color: rgba(255, 255, 255, 0.8);
    background:rgba(255, 255, 255, 0.2);
    border-radius: 7%;
    animation: boxAnim 5s linear infinite;

}

.sneaker1
{

    transform: translate(0, 100px);
    position: fixed;
    
    margin-left: 50px;
  
    animation: boxAnimA 3.6s linear infinite;

}

@keyframes boxAnimA
{
    0%{
        transform: translate(-300px,300px);
    }
    10%{
        transform: translate(-300px,301px);
    }
    40%{
        transform: translate(-300px,303px);
    }
    50%{
        transform: translate(-300px,305px);
    }
    
    100%{
        transform: translate(-300px,300px);
    }
    
    
    
    
    
}

h1 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.3rem;
}
.boxLink
{

    transform: translate(0, 100px);
    position: fixed;
    font-family: 'Concert One', cursive;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 50px;
    border-top: 200px;
    padding: 10px;
    border-color: rgba(255, 255, 255, 0.8);
    background:rgba(255, 255, 255, 0.1);
    border-radius: 7%;
    animation: boxAnim 4s linear infinite;

}

.logoBasket
{

    
    position: fixed;
    font-family: 'Concert One', cursive;
    border-radius: 7%;
    animation: animates 4s linear infinite;
   
}

@keyframes animates {
    0% {transform: rotate(0deg); 
        transform: translate(-300px,100px);
       }
    100% {transform: rotate(360deg);
        transform: translate(-300px,100px); 
        }
        
}

@keyframes boxAnim
{
    0%{
        transform: translate(-300px,100px);
    }
    10%{
        transform: translate(-300px,98px);
    }
    40%{
        transform: translate(-300px,91px);
    }
    50%{
        transform: translate(-300px,90px);
    }
    
    
    100%{
        transform: translate(-300px,100px);
    }
}
@keyframes gravityLogo
{
    0%{
        transform: translate(-300px,0);
    }
    10%{
        transform: translate(-300px,-2px);
    }
    40%{
        transform: translate(-300px,-9px);
    }
    50%{
        transform: translate(-300px,-10px);
    }
    60%{
        transform: translate(-300px,-9px);
    }
    
    100%{
        transform: translate(-300px,0px);
    }
}

@keyframes colorChange {
    0% {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}
.glowing:nth-child(even){
    transform-origin: left;
}
.glowing {
    position: relative;
    min-width: 450px;
    height: 450px;
}

.glowing span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
}

.glowing span:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: rgb(56, 56, 56);
    border-radius: 50%;
}

.glowing span:nth-child(3n + 1):before
{
    background: rgba(134, 255, 0, 1);
    box-shadow: 0 0 20px rgba(134, 255, 0, 1);
                 0 0 40px rgba(134, 255, 0, 1);
                 0 0 60px rgba(134, 255, 0, 1);
                 0 0 80px rgba(134, 255, 0, 1);
                 0 0 8px rgba(134, 255, 0, .1);
}

.glowing span:nth-child(3n + 2):before
{
    background: rgba(255, 214, 0, 1);
    box-shadow: 0 0 20px rgba(255, 214, 0, 1);
                 0 0 40px rgba(255, 214, 0, 1);
                 0 0 60px rgba(255, 214, 0, 1);
                 0 0 80px rgba(255, 214, 0, 1);
                 0 0 8px rgba(255, 214, 0, .1);
}

.glowing span:nth-child(3n + 3):before
{
    background: rgba(0, 226, 255, 1);
    box-shadow: 0 0 20px rgba(0, 226, 255, 1);
                 0 0 40px rgba(0, 226, 255, 1);
                 0 0 60px rgba(0, 226, 255, 1);
                 0 0 80px rgba(0, 226, 255, 1);
                 0 0 8px rgba(0, 226, 255, 1);
}

.glowing span:nth-child(3n + 2) {
    animation: animate 10s alternate infinite;
}

.glowing span:nth-child(3n + 1) {
    animation: animate-reverse 5s alternate infinite;
}

.glowing span:nth-child(3n + 3) {
    animation: animate 7s alternate infinite;
}
@keyframes animate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes animate-reverse {
    0% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

